<table>
    <th>
        <tr>
            <td>user</td>
            <td>address</td>
        </tr>
    </th>
    <tbody>
        {{#each array}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.address}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>